.outerDiv{
    background-color: black;
    // height: 1000px;
    .container{
        margin: 0;
        max-width: initial;
.carousel{
    // display: flex;
    .title{
        font-size: xxx-large;
        font-family: cursive;
        color: red;
        font-weight: 600;
        position: absolute;
    
}
}
    }
}

