<div id="outerDiv" class="outerDiv">
    <div  #itemHolder  class="container">
        <div class="carousel">
            <ngx-spinner bdColor="rgba(255, 255, 255, 0.8)" size="large" color="#3E87E8" type="ball-spin-clockwise"></ngx-spinner> 
            <div class="row">
                <div class="title col-sm-6">YOUTUBE</div>
                <div class=" col-sm-6">
                    <app-search></app-search>
                </div>

            </div>
 <app-youtube-player></app-youtube-player>

        </div>
    </div>
</div>





<!-- <button id="button" (click)="onBtnClick('DkhZ3H5IelU')">Click here</button> -->