<!-- 
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Receipe Book</a>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="navbar-header">
            <li routerLinkActive="active"><a routerLink="/login">Authentication</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6 ml-5">
        <form [formGroup]="loginForm" (ngSubmit)="onCreatePost(loginForm)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" formControlName="username" class="form-control w-25" required username/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" formControlName="password" name="password"  class="form-control w-25" minlength="6" required />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    logIn</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary m-2" (click)="onFetchData()">
                   FetchPost</button>
                <button class="btn btn-danger" (click)="onClearPosts()" >
                    Clear post</button>
            </div>
            <div class="row">
                <div class="col xs-12 col-md-6 col-md-offset-3">
                    <p  >no post available</p>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let post of loadedPost">
                            <div class="float-right font-weight-bold" (click)="deletePost(post.id)">X</div>
                            <h1>{{post.username}}</h1>
                            <p>{{post.password}}</p>
                        </li>
                    </ul>
                    <p *ngIf="isFetching && !error" >loading...</p>
                    <div class="alert alert-danger" *ngIf="error">
                    <h1>An error occured</h1>
                    <p>{{error}}</p>
                </div>
                </div>
            </div>
        </form>
    </div>
</div> -->